<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sheet" value="公共案例,AUD案例,EUR案例,GBP案例,HKD案例,JPY案例,USD案例"/>
    <!--是否本机调试，1是，0否-->
    <add key ="debug" value="1"/>
  </appSettings>

  <connectionStrings>
    <add name="ECDS" connectionString="Server=17.2.48.14:50010;Database=ECDSDB;UserID=db2ecds;Password=db2ecds;"/>
    <add name="IBPS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=ibusr1;Password=ibusr1;"/>
    <add name="BEPS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=beusr1;Password=beusr1;"/>
    <add name="HVPS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=hvusr1;Password=hvusr1 ;"/>
    <add name="CCMS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=db2adm1;Password=db2adm3 ;"/>
    <add name="NETS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=neusr1;Password=neusr1 ;"/>
    <add name="PUBS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=db2onn;Password=db2conn ;"/>
    <add name="SAPS" connectionString="Server=17.2.48.2:50000;Database=APDB2;UserID=sausr1;Password=sausr1 ;"/>
  </connectionStrings>
</configuration>
